.header{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.name{
    align-items: center;
    margin-left: 50px;
}

.name p{
    margin: 0px;
    text-align: center;
}

.header__image{
    margin-top: 5px;
    height: 350px;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    height: 50px;
}

nav{
    align-content: center;
}

.photobar{
    display: flex;
    justify-content: space-around;
}

.bioline{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}

.bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bottom__1{
    grid-column: 1;
}

.bottom__2{
    grid-column: 2;
}

.project__header{
    display: flex;
    justify-content: center;
}

.projects__rows{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 200px;
}

#projects{
    grid-row: 1;
}

.skills__row{
    grid-row: 2;
    justify-self: end;
}