.header{
    display: flex;
    justify-content: left;
    margin-bottom: 40px;
    margin-left: 225px;
}

.name{
    align-items: center;
    margin-left: 50px;
}

.name p{
    margin: 0px;
    text-align: center;
}

.header__image{
    margin-top: 5px;
    height: 400px;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    height: 50px;
}

nav{
    align-content: center;
}

.photobar{
    display: flex;
    justify-content: space-around;
    grid-row: 2;
}

.main{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.bioline{
    grid-row: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
}

.bottom{
    grid-row: 3;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
}

.bottom__1{
    grid-column: 1;
}

.bottom__2{
    grid-column: 2;
}

.bottom__3{
    grid-column: 3;
}

.project__header{
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skills__row{
    margin-top: 20px;
    grid-row: 2;
    justify-self: end;
}



