a:link, a:visited{
  color: white;
  height: 0.4em;
  text-decoration: none;
}

.about{
  font-size: 2.6em;
}


.aboutSkills{
  color: white;
  font-family: "Barlow Condensed", sans-serif;
}

.back{
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2rem;
}

body,
html {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/background.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.database:hover{
  cursor: pointer;
}

.email:hover{
  cursor: pointer;
}

.esl:hover{
  cursor: pointer;
}

footer{
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1em;
}

.github:hover{
  cursor: pointer;
}

h1 {
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 12em;
  height: 12.5rem;
  text-align: end;
}

h2 {
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3.5em;
  text-align: end;
}

.info{
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3rem;
  text-align: left;
}

.link{
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2rem;
  text-align: left;
}

.linkedin:hover{
  cursor: pointer;
}

.navBar_about:hover{
  cursor: pointer;
}

.navBar_contact:hover{
  cursor: pointer;
}

.navBar_home:hover{
  cursor: pointer;
}

.navBar_projects:hover{
  cursor: pointer;
}

.navBox {
  border: white;
  border-style: solid;
  border-width: 10px;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3.5em;
  height: 6.5em;
  list-style-type: none;
  width: 6.5em;
 } 

.navBoxSmall{
  border: white;
  border-style: solid;
  border-width: 5px;
  color: white;   
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5em;   
  height: 5em;
  list-style-type: none;
  width: 5em;
}

.pageOneHidden{
  display: none;
}

.pic1 img{
  height: 27em;
}

.projects div{
  color: white;
  font-size: 4.5em;
  font-family: "Barlow Condensed", sans-serif;
}

.shrimp:hover{
  cursor: pointer;
}

.skillsUsed:hover{
  cursor: pointer;
}

.skills{
  font-size: 1.75em;
  text-align: right;
}

.skillsUsed{
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2rem;
  text-align: left;
}