h1 {
    text-align: center;
    font-size: 10rem;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #000e18;
}

a:link{
    color: #000e18;
}

a:visited{
    color: blue;
}

body{
    font-family: 'Annie Use Your Telescope';
    background-color: burlywood;
    color: #000e18;
}

img {
    width: 500px;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: opx;
    margin-top: 0px;
}

h3 {
    font-size: 30px;
}

li{
    font-family: 'Archivo Narrow';
    font-size: 30px;
}

#options{
    font-family: 'Annie Use Your Telescope';
    font-size: 30px;
}

p {
    font-family: 'Archivo Narrow';
}

.linkphoto {
    width: 5rem;
    height: 5rem;
}

.contact {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#selfpic{
    border-radius: 25px;
    border: 5px solid #000e18;
}

#header {
    margin-top: 0px;
    margin-bottom: 15px;
}

#contact-info{
    margin-top: 0px;
    text-align: center;
}

.projects__1{
    margin-top: 0px;
    margin-bottom: 0px;
}

footer{
    font-family: 'Archivo Narrow';
    font-size: 15px;
}

.screenshots {
    display: block;
    margin: auto;
}

.site-links{
    padding: 0px;
    margin-left: 0px;
}
